.idea/
__pycache__
venv
.venv
images/the chosen ones
images/ship1.xcf
explsion_sounds
tests/
plans/
ships/ship1 — kopia.png
ships/ship1_shielded.png
ships/ship1_shielded2.png
images/spaceships.zip
images/SpaceShips4
images/SpaceShips3
images/ships
SpaceShips4
todo.txt
a.py
